@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Esta é a página index</h1>
    @Html.ActionLink("Ir para o sobre de outro controller", "Index", "Sobre");
</div>

@section rodape {
<p> Este rodapé é só da index</p>
}